html,
body {
    margin: 0;
}

.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/polygon-scatter-haikei.svg');
}

.heading {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    margin-top: -1rem;
}

.formHeading {
    color: rgb(92, 91, 91);
    font-family: 'Jost', sans-serif;
    margin-top: -0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form label {
    font-family: 'Nunito', sans-serif;
    color: rgb(92, 91, 91);
}

form input {
    padding-left: 0.3rem;
    font-family: 'Nunito', sans-serif;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.subHeading {
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-top: -0.5rem;
}

.formContentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 5%;
    height: 70%;
    width: 40%;
}

.saveChangesBtn {
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00CC8E;
    width: 50%;
    height: 2.5rem;
    margin-top: 1rem;
}