html,
body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/polygon-scatter-haikei.svg');
}

.contentContainer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    background-color: #EEEEEE;
}

.signUpContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonialsContainer {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #e2e2e2;
    background-color: #00CC8E;

}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Hide the testimonials by default */
.mySlides {
    display: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    width: 25rem;
    text-align: center;
}

.person-image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.signUpTitle {
    margin-bottom: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
}

.signUpSubtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form>input {
    padding-left: 0.3rem;
    font-family: 'Nunito', sans-serif;
    height: 1.5rem;
    margin-bottom: 1rem;
}

form>label {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0.3rem;
}

.signUpBtn {
    margin: 1rem 0rem;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: #00CC8E;
    width: 50%;
}

.signUpBtn>a {
    text-decoration: none;
}

.btnText {
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
}

.footerText {
    font-family: 'Nunito', sans-serif;
    margin-right: 0.3rem;
}

.signInText {
    font-family: 'Nunito', sans-serif;
}