.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    border-radius: 5%;
    height: 60vh;
    width: 60vh;
}

.loginTitle {
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

form>input {
    padding-left: 0.3rem;
    font-family: 'Nunito', sans-serif;
    height: 2rem;
    margin-bottom: 1rem;
}

form>label {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0.3rem;
}

.loginBtn {
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: #00CC8E;
    width: 40%;
}

.btnText {
    color: white;
}

a,
a:visited {
    text-decoration: none;
}

.forgottenPText {
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}

.footerText {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
}

@media screen and (min-width: 320px) {

    html,
    body {
        margin: 0;
    }

    a, a:visited {
        text-decoration: none;
    }

    .mainContainer {
        background-image: url(./assets/polygon-scatter-haikei.svg);
    }

    .loginContainer {
        height: 80vh;
    }

    .loginTitle {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    form {
        width: 80%;
    }

    form>input {
        font-family: 'Nunito', sans-serif;
        height: 2rem;
        margin-bottom: 1rem;
    }

    form>label {
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }

    .loginBtn {
        display: flex;
        font-size: 1rem;
        font-family: 'Jost', sans-serif;
        justify-content: center;
        align-items: center;
        background-color: #00CC8E;
        width: 80%;
        height: 10%;
    }

    .forgottenPText {
        align-self: flex-end;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }

    .footerText {
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .signUpText {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        text-decoration: underline;
    }

}