html, body{
    margin: 0;
}
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/polygon-scatter-haikei.svg);
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    border-radius: 5%;
    height: 60vh;
    width: 60vh;
}

.loginTitle {
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

form>input {
    padding-left: 0.3rem;
    font-family: 'Nunito', sans-serif;
    height: 2rem;
    margin-bottom: 1rem;
}

form>label {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0.3rem;
}

.loginBtn {
    display: flex;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #00CC8E;
    width: 80%;
    height: 10%;
}

.btnText {
    color: white;
}

a,
a:visited {
    text-decoration: none;
}

.forgottenPText {
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

.footerText {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
}
.signUpText {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    text-decoration: underline;
}
@media screen and (min-width: 2560px) {
    .loginTitle {
        font-size: 2rem;
        font-family: 'Jost', sans-serif;
        margin-bottom: 3rem;
        color:  rgb(92, 91, 91);
    }
    .loginBtn {
        display: flex;
        font-size: 1.5rem;
        font-family: 'Jost', sans-serif;
        justify-content: center;
        align-items: center;
        background-color: #00CC8E;
        width: 60%;
        height: 10%;
        margin-top: 2rem;
    }
    form {
        margin-top: 2rem;
        width: 60%;
    }
    form>input {
        height: 2.5rem;
        font-size: 1rem;
    }
    .footerText {
        font-size: 1.5rem;
        margin-top: 4rem;
    }
    .signUpText {
        font-size: 1.3rem;
    }
    .forgottenPText {
        font-size: 1rem;
        color:  rgb(92, 91, 91);
    }
}